<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Raspberry Pi Smart Baby Monitor</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
        <script src="https://kit.fontawesome.com/026028e2f6.js" crossorigin="anonymous"></script>
        <script src="http://dweet.io/client/dweet.io.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
    </head>
    <body>
        <h1>Raspberry Pi Smart Baby Monitor <i class="fas fa-baby"></i><i class="fab fa-raspberry-pi"></i></h1>
        
        <table>
          <tr>
            <th>Sound <i class="fas fa-volume-up"></i></th>
            <th>Light <i class="far fa-lightbulb"></i></th>
            <th>Temperature <i class="fas fa-thermometer-half"></i></th>
            <th>Motion <i class="fas fa-sync-alt"></i>
            <th>Humidity <i class="fas fa-cloud-rain"></i></th>
          </tr>
          <tr>
            <td id="soundTableData">---</td>
            <td id="lightTableData">---</td>
            <td id="temperatureTableData">---</td>
            <td id="motionTableData">---</td>
            <td id="humidityTableData">---</td>
          </tr>
        </table>

        <p id="roomTemperatureStatus">Baby Room Temperature Status: </p>
        <p id="roomTemperatureMessage">---</p>
        <p id="roomBrightnessStatus">Baby Room Brightness Status: </p>
        <p id="roomBrightnessMessage">---</p>
        <p id="roomNoiseStatus">Baby Room Noise Status: </p>
        <p id="roomNoiseMessage">---</p>
        <p id="localStorageErrorMessage"></p>

        <script>
            $(document).ready(function() {
                let cache = (localStorage.getItem('data') == undefined || localStorage.getItem('data') == null) ? {
                    'sound': 0,
                    'light' : 0,
                    'motion' : 0,
                    'temperature' : 0,
                    'humidity' : 0
                } : localStorage.getItem('data');
                let data = {'payloadString': JSON.stringify(cache)};
                onMessageArrived(data);
                let BROKER = 'broker.mqttdashboard.com';
                let PORT = 8000;
                let CLIENTID = 'clientId-pcJQINQ9E7';
                let SUBSCRIBER = 'GFNCI/PUBLISH';
                client = new Paho.MQTT.Client(BROKER, PORT, CLIENTID);
                client.connect({onSuccess:onConnect});
                client.onMessageArrived = onMessageArrived;

                function onConnect() {
                    client.subscribe(SUBSCRIBER);
                }

                function onMessageArrived(message) {
                    console.log("onMessageArrived: " + message.payloadString);
                    let readings = JSON.parse(message.payloadString);

                    $('#soundTableData').text(readings['sound']);
                    $('#lightTableData').text(readings['light']);
                    $('#motionTableData').text(readings['motion']);
                    $('#temperatureTableData').text(readings['temperature']);
                    $('#humidityTableData').text(readings['humidity']);

                    localStorage.setItem('sound', readings['sound']);
                    localStorage.setItem('light', readings['light']);
                    localStorage.setItem('motion', readings['motion']);
                    localStorage.setItem('temperature', readings['temperature']);
                    localStorage.setItem('humidity', readings['humidity']);

                    /* Check for room temperature being too hot or too cold. Optimum temperature for the baby is between 20 and 22 degrees Celsius */

                    if(localStorage.getItem('temperature') < 20) {
                        document.getElementById("roomTemperatureMessage").innerHTML = "Warning, the baby room is too cold!";
                    } else if (localStorage.getItem('temperature') > 22) {
                        document.getElementById("roomTemperatureMessage").innerHTML = "Warning, the baby room is too hot!";
                    } else {
                        document.getElementById("roomTemperatureMessage").innerHTML = "The baby room temperature is just right.";
                    }

                    /* Check for room being too bright or too dark depending on the the sleep time of the baby being 7pm */

                    var date = new Date();
                    var hours = date.getHours();
                    if (hours >= 19) {
                        if (localStorage.getItem('light') > 50) {
                            document.getElementById("roomBrightnessMessage").innerHTML = "Room is too bright!";
                        } else {
                            document.getElementById("roomBrightnessMessage").innerHTML = "Room brightness is just right.";
                        }

                    } else {
                        document.getElementById("roomBrightnessMessage").innerHTML = "It isn't bed time yet. Room brightness is okay.";
                    }

                    /* Check for noise levels being too high */

                    if(localStorage.getItem('sound') > 250) {
                        document.getElementById("roomNoiseMessage").innerHTML = "Warning, there is too much noise in the house!";
                    } else {
                        document.getElementById("roomNoiseMessage").innerHTML = "Noise levels in the house are okay.";
                    }
                }
            });
        </script>
    </body>
</html>
